#header_image{
    background-image: url("../globe_cut.jpg");
    height:280px;
    background-color: #000000;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}


#header_title{
    font-size: 450%;
    font-family: Impact, fantasy;

    color: white;
    text-align: center;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    position:absolute;
    width:100%;
    bottom: 20%;
}

body {
    margin: 0;
}

/*1st level*/
nav ul{
    font-family: Impact, Charcoal, sans-serif;
    font-size:20px;
    background-color:#c7ddef;
    list-style: none;
    position: relative;
    margin: 0;

    /* This is used for removing a space right side of the header
    http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support
    http://www.templatemonster.com/help/css-understanding-border-margin-and-padding-properties.html#gref
    */
    width: 90%;
    padding-left: 10%;

}

/*This comes from http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu
but why does "after" exactly mean?
*/
nav ul:after {
    content: "";
    clear: both;
    display: block;
}

/*1st level items*/
nav ul li {
    float: left;
}

/*This comes from http://line25.com/tutorials/how-to-create-a-pure-css-dropdown-menu
 why is the difference between "ul li" and  "ul li a"?
*/
nav ul li a {
    display: block; padding: 5px 20px;
    color: white;
    text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    text-decoration: none;
}

/*2nd level list*/
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    width: 150px;
}

nav ul li:hover {
    background-color: #4cae4c;
    display: block;
}

/*The 2nd level will appear*/
nav ul li:hover > ul {
    display: block;
}


nav ul ul li{
    float: none;
    position:relative;
    text-align: left;

}

nav ul ul li a:hover {
    background: #5cb85c;
}

/* div, which may contain ul, li, etc. */
#sidebar{
    float: right;
    float: top;
    padding: 30px 30px 30px 10px;
    background-color: #d5d5d5;
    margin-top: 40px;
    margin-right: 7%;
    font-family: Impact, Charcoal, sans-serif;
    text-align: left;
}

/* "list-style" applies to ul */
#sidebar_genre{
    list-style: none;
}

/* "text-decoration", deleting the underlines of links, applies to "a"*/
ul li a{
    text-decoration: none;
}

#container{
    padding-top: 40px;
    padding-left: 5%;
}

/* http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/ */
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    text-align: center;
    background-color: #d5d5d5;
}
